<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carpool.v3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:name=".BMap"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- 切记加入导入语句，不然会报NoClassDefFoundError -->
        <uses-library android:name="com.google.android.maps" />

        <!-- renren sdk 中的Activity -->
        <activity
            android:name="com.renren.api.connect.android.AuthorizationHelper$BlockActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.renren.api.connect.android.status.StatusPubActivity" >
        </activity>
        <activity
            android:name=".GISActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CarpoolV3Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PincheProcessActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PincheInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RenrenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SinaWeiboActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PincheResultsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".WaitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_lOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>